footer{
    background-color: var(--black);
    padding-top: 42px;
}

#footer_itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    color: var(--white);
}



#footer_social_icons{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
}

#footer_social_icons a{
    color: var(--white);

}

@media screen and (max-width: 600px) {
    #footer_itens {
      flex-direction: column;
      gap: 20px;
    }
  }